* {
	box-sizing: border-box;
	margin: 0;
}

header {
	text-align: center;
	color: white;
	padding: 20px;
	background-color: darkblue;
    border: solid lightblue;
}

.sidebar-title{
	color: white;
}

#city-info {
	margin: 10px;
}

.sidebar {
	background-color: darkblue;
	padding: 10px;
    border: solid lightblue;
}

.daycard {
    margin: 10px;
}

#weather-icon {
	border: solid black;
	margin-bottom: 50px;
}